# OS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment files
.env
.env.*
!.env.example

# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/DerivedData/
